---


---

<!--SECCION PROYECTOS -->
<section id="projects" class="w-full mx-auto  text-center py-30 ">


    <h1 class="mx-auto lg:w-100 border-b-5 border-b-rose-900 text-6xl m-5 font-bold">Projects</h1>

    <!--AGRUPA UNA IMGEN Y SU CONTEXTO -->

    <div class="w-full  flex ">
        
        <div class="pr-5  w-2/3 m-10 pb-10 pt-10 bg-[#6C27F5]  hover:scale-90 transition-transform ease-in-out">
            <div>
                <img src="/public/Monitor.png" alt="ControlAcces" class="h-120">
            </div>
        </div>

        <div class="pr-5 pl-5  w-1/3 pt-15 text-left">
            <h1 class="font-bold text-3xl pb-4">
             Aplicación Web para Control de Accesos – Instituto IDAT
            </h1>

            <p class="text-lg leading-relaxed opacity-95 pb-4">
                Sistema diseñado para gestionar registros, accesos, horarios y permisos del personal académico y administrativo mediante autenticación RFID y monitoreo en tiempo real.
            </p>

            <p class="text-lg">
                Desarrollado con 
                <span class="text-yellow-300">Spring Boot</span>, 
                <span class="text-red-400">Angular</span>, 
                <span class="text-blue-300">PostgreSQL</span> y 
                <span class="text-green-300">ESP32</span>.
            </p>
        </div>

    </div>

    <!--AGRUPA UNA IMGEN Y SU CONTEXTO -->

    <div class="w-full  flex">
          <div class="pr-5 pl-5  w-1/3 pt-15 text-left">
            <h1 class="font-bold text-3xl pb-4">
             Sistema de Gestión de Ventas
            </h1>

            <p class="text-lg leading-relaxed opacity-95 pb-4">
                 Plataforma web orientada a la administración de ventas, clientes, productos e inventario, incorporando dashboards analíticos y reportes estratégicos para optimizar la toma de decisiones comerciales.
            </p>

            <p class="text-lg">
                Desarrollado con 
                <span class="text-yellow-300">.NET</span>, 
                <span class="text-red-400">C#</span>, 
                <span class="text-blue-300">SQLServer</span> 
            </p>
        </div>

         <div class="pr-5 w-2/3 m-10 pb-10 pt-10 bg-[#6C27F5] hover:scale-90 transition-transform ease-in-out">
            <div>
                <img src="/public/boticaWeb.png" alt="boticaWeb" class="h-120">
            </div>
        </div>
    </div>

    <!--AGRUPA UNA IMGEN Y SU CONTEXTO -->

    <div class="w-full  flex">
         
        
         <div class="pr-5  w-2/3 m-10 pb-10 pt-10 bg-[#6C27F5] hover:scale-90 transition-transform ease-in-out">
            <div>
                <img src="/public/escritorio.png" alt="Escritorio" class="h-120">
            </div>
        </div>

         <div class="pr-5 pl-5  w-1/3 pt-15 text-left">
            <h1 class="font-bold text-3xl pb-4">
             Aplicación de Escritorio para Botica
            </h1>

            <p class="text-lg leading-relaxed opacity-95 pb-4">
                 Incluye registro de productos, alertas de stock, historial de ventas, reportes comerciales y control administrativo para mejorar la operación diaria del negocio.
            </p>

            <p class="text-lg">
                Desarrollado con 
                <span class="text-yellow-300">C#</span> y 
                <span class="text-red-400">SqlSever</span>
            </p>
        </div>

    </div>


   
</section>